@model IEnumerable<WebBanSach.Models.Data.TacGia>

@{
    ViewBag.Title = "Manage Author";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Show List Author</h2>

<p>
    @Html.ActionLink("Add Author", "AddAuthor")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.MaTG">
                <td>
                    @Html.DisplayFor(modelItem => item.MaTG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTG)
                </td>
                <td>
                    @Html.ActionLink("Show", "UpdateAuthor", new { id = item.MaTG }) |
                    @Ajax.ActionLink("Delete", "DeleteAuthor", new { id = item.MaTG }, new AjaxOptions
               {
                   Confirm = "Do you want to remove this author?",
                   OnComplete = "$('#row_" + @item.MaTG + "').remove()",
                   HttpMethod = "Delete"
               })
                </td>
            </tr>
        }
    </tbody>

</table>
